@()

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VFD - Regions Test</title>

	<link rel="shortcut icon" href="@routes.Assets.at("images/logo.svg")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/regions.css")">
</head>
<body>

	
	<div class="fbox">
		<header>
			<div class="panel panel-default">
				<div class="panel-body">
					Status
				</div>
			</div>
		</header>
		<nav>
			<div class="panel panel-default" style="height: 100%">
				<div class="panel-body">
					Nav
				</div>
			</div>
		</nav>
		<main>
			<div class="panel panel-default" style="height: 100%">
				<div class="panel-body">
					Nav
				</div>
			</div>
		</main>
		<aside>
			<div class="panel panel-default" style="height: 100%">
				<div class="panel-body">
					Nav
				</div>
			</div>
		</aside>
	</div>
	
	
	


	<script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
	
</body>
</html>