html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #e6e6e6;
}

* {
	box-sizing: border-box;
}

.fbox {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
}

.fbox > * {
	background-color: #ffff00;
	border: 1px solid #000000;
	padding: 15px;
} 

.fbox > header {order: 1; flex: 0 0 100%;}
.fbox > nav {order: 2; flex: 0 0 35%;}
.fbox > main {order: 3; height: 100 ; flex: 0 0 40%;}
.fbox > aside {order: 4; flex:01 0 25%;}